---
http_interactions:
- request:
    method: get
    uri: https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982/questions/144189
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 9557730c78410799aa147611a28cb60f
      X-Request-Context-Id:
      - cb7de756-588e-4e2c-bfbf-c8cfce34495a
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=2193;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1b;o=quizzes/quiz_questions;n=show;t=Course;i=4091;x=5.0;p=f;f=2021-09-17T11:37:35.55Z;b=1510716;m=1510716;u=0.04;y=0.00;d=0.01;
      X-Request-Cost:
      - '0.052951447969462606'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - 06e80ee0db0dd6f4a
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"4f247c3b409a04b89f37e3585ffa6c95"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"quiz_id":21982,"id":144189,"quiz_group_id":null,"assessment_question_id":167083,"position":null,"question_name":"Matching
        Question","question_type":"matching_question","question_text":"\u003cp\u003eDescription\u003c/p\u003e","points_possible":1.0,"correct_comments":"","incorrect_comments":"","neutral_comments":"","correct_comments_html":"","incorrect_comments_html":"","neutral_comments_html":"","answers":[{"id":5924,"text":"Answer
        1","left":"Answer 1","right":"Value 1","comments":"","comments_html":"","match_id":6163},{"id":417,"text":"Answer
        2","left":"Answer 2","right":"Value 2","comments":"","comments_html":"","match_id":4393}],"variables":null,"formulas":null,"answer_tolerance":null,"formula_decimal_places":null,"matches":[{"text":"Value
        1","match_id":6163},{"text":"Value 2","match_id":4393},{"text":"Incorrect
        1","match_id":2488},{"text":"Incorrect 2","match_id":3754}],"matching_answer_incorrect_matches":"Incorrect
        1\nIncorrect 2"}'
  recorded_at: Fri, 17 Sep 2021 11:37:35 GMT
recorded_with: VCR 6.0.0
