---
http_interactions:
- request:
    method: get
    uri: https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982/questions/144188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 233ac4a0e1c369fd8b3a4f728108ecc6
      X-Request-Context-Id:
      - 4d248dd0-69b8-4ed4-a15a-9b9b5f5804f6
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=2002;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1c;o=quizzes/quiz_questions;n=show;t=Course;i=4091;x=5.0;p=f;f=2021-09-17T11:42:59.23Z;b=1398760;m=1398760;u=0.10;y=0.00;d=0.03;
      X-Request-Cost:
      - '0.1328955359790598'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - '09c83115d8ea4d853'
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"cf72f15d693007249fe729a9d17f26e3"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"quiz_id":21982,"id":144188,"quiz_group_id":null,"assessment_question_id":167082,"position":null,"question_name":"Question","question_type":"multiple_choice_question","question_text":"\u003cp\u003eQuestion\u003c/p\u003e","points_possible":1.0,"correct_comments":"","incorrect_comments":"","neutral_comments":"","correct_comments_html":"","incorrect_comments_html":"","neutral_comments_html":"\u003cp\u003eNeutral
        comment\u003c/p\u003e","answers":[{"id":483,"text":"","html":"\u003cp\u003eAnswer
        1\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\n\u003cp\u003eok!\u003c/p\u003e","comments":"","comments_html":"\u003cp\u003eAnswer
        1 comment\u003c/p\u003e","weight":100.0},{"id":14,"text":"","html":"\u003cp\u003eAnswer
        2\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\n\u003cp\u003eok!\u003c/p\u003e","comments":"","comments_html":"\u003cp\u003eAnswer
        2 comment\u003c/p\u003e","weight":0.0},{"id":8035,"text":"","html":"\u003cp\u003eAnswer
        3\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e\n\u003cp\u003eok!\u003c/p\u003e","comments":"","comments_html":"\u003cp\u003eAnswer
        3 comment\u003c/p\u003e","weight":0.0}],"variables":null,"formulas":null,"answer_tolerance":null,"formula_decimal_places":null,"matches":null,"matching_answer_incorrect_matches":null}'
  recorded_at: Fri, 17 Sep 2021 11:42:59 GMT
recorded_with: VCR 6.0.0
