---
http_interactions:
- request:
    method: get
    uri: https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962/questions/144243
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 3108bd4f12b07588f4277632f2043b82
      X-Request-Context-Id:
      - f0547398-a9c3-4669-b04f-9456f7f03554
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=884;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1e;o=quizzes/quiz_questions;n=show;t=Course;i=4091;x=5.0;p=f;f=2021-09-13T12:46:18.78Z;b=1336020;m=1336020;u=0.05;y=0.01;d=0.02;
      X-Request-Cost:
      - '0.06921850600006962'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - 0b9c0425146fd5720
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"ebd56e58393d8160a572d4a8f1ae7954"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"quiz_id":21962,"id":144243,"quiz_group_id":null,"assessment_question_id":167080,"position":null,"question_name":"Question
        9","question_type":"matching_question","question_text":"\u003cp\u003eMatch
        the answers!\u003c/p\u003e","points_possible":1.0,"correct_comments":"","incorrect_comments":"","neutral_comments":"","correct_comments_html":"","incorrect_comments_html":"","neutral_comments_html":"","answers":[{"id":6876,"text":"Answer
        1","left":"Answer 1","right":"Value 1","comments":"","comments_html":"","match_id":9374},{"id":4269,"text":"Answer
        2","left":"Answer 2","right":"Value 2","comments":"","comments_html":"","match_id":5267}],"variables":null,"formulas":null,"answer_tolerance":null,"formula_decimal_places":null,"matches":[{"text":"Value
        1","match_id":9374},{"text":"Value 2","match_id":5267},{"text":"Incorrect
        1","match_id":625},{"text":"Incorrect 2","match_id":3666}],"matching_answer_incorrect_matches":"Incorrect
        1\nIncorrect 2"}'
  recorded_at: Mon, 13 Sep 2021 12:46:18 GMT
recorded_with: VCR 6.0.0
