---
http_interactions:
- request:
    method: get
    uri: https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962/questions/144210
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 04cc7d6ace05dc29dfecde0b93b48461
      X-Request-Context-Id:
      - 646e1e9b-f712-4b76-bf13-e02aee287289
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=956;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1e;o=quizzes/quiz_questions;n=show;t=Course;i=4091;x=5.0;p=f;f=2021-09-13T12:41:02.05Z;b=1402348;m=1402348;u=0.06;y=0.00;d=0.01;
      X-Request-Cost:
      - '0.06956857400081162'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - 0f9f25e7a4604e9fa
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"820eb54ad2e71cc42b95360060c6e3b5"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"quiz_id":21962,"id":144210,"quiz_group_id":null,"assessment_question_id":167070,"position":null,"question_name":"Active
        Record: Deleting Nested Data","question_type":"multiple_choice_question","question_text":"\u003cp\u003eWe''re
        working on a domain where a \u003cstrong\u003esong belongs to an album\u003c/strong\u003e.
        Before we can\ndelete an album from the database, we must delete all the songs
        associated with\nthat album; otherwise, the songs will still exist without
        knowing which album\nthey''re associated with.\u003c/p\u003e\n\n\u003cp\u003eWhich
        of the following code blocks will help to delete all the songs associated\nwith
        an album when the album is deleted?\u003c/p\u003e","points_possible":1.0,"correct_comments":"","incorrect_comments":"","neutral_comments":"","correct_comments_html":"","incorrect_comments_html":"","neutral_comments_html":"","answers":[{"id":4609,"text":"","html":"\u003cdiv
        class=\"highlight\"\u003e\u003cpre class=\"highlight ruby\"\u003e\u003ccode\u003e\u003cspan
        class=\"k\"\u003eclass\u003c/span\u003e \u003cspan class=\"nc\"\u003eAlbum\u003c/span\u003e
        \u003cspan class=\"o\"\u003e\u0026lt;\u003c/span\u003e \u003cspan class=\"no\"\u003eApplicationRecord\u003c/span\u003e\n  \u003cspan
        class=\"n\"\u003ehas_many\u003c/span\u003e \u003cspan class=\"ss\"\u003e:songs\u003c/span\u003e\u003cspan
        class=\"p\"\u003e,\u003c/span\u003e \u003cspan class=\"ss\"\u003edependent:
        :destroy\u003c/span\u003e\n\u003cspan class=\"k\"\u003eend\u003c/span\u003e\n\u003c/code\u003e\u003c/pre\u003e\u003c/div\u003e","comments":"","comments_html":"","weight":100.0},{"id":6321,"text":"","html":"\u003cdiv
        class=\"highlight\"\u003e\u003cpre class=\"highlight ruby\"\u003e\u003ccode\u003e\u003cspan
        class=\"k\"\u003eclass\u003c/span\u003e \u003cspan class=\"nc\"\u003eSong\u003c/span\u003e
        \u003cspan class=\"o\"\u003e\u0026lt;\u003c/span\u003e \u003cspan class=\"no\"\u003eApplicationRecord\u003c/span\u003e\n  \u003cspan
        class=\"n\"\u003ebelongs_to\u003c/span\u003e \u003cspan class=\"ss\"\u003e:album\u003c/span\u003e\u003cspan
        class=\"p\"\u003e,\u003c/span\u003e \u003cspan class=\"ss\"\u003edependent:
        :destroy\u003c/span\u003e\n\u003cspan class=\"k\"\u003eend\u003c/span\u003e\n\u003c/code\u003e\u003c/pre\u003e\u003c/div\u003e","comments":"","comments_html":"","weight":0.0},{"id":4354,"text":"","html":"\u003cp\u003eI
        don''t know.\u003c/p\u003e","comments":"","comments_html":"","weight":0.0}],"variables":null,"formulas":null,"answer_tolerance":null,"formula_decimal_places":null,"matches":null,"matching_answer_incorrect_matches":null}'
  recorded_at: Mon, 13 Sep 2021 12:41:02 GMT
recorded_with: VCR 6.0.0
