---
http_interactions:
- request:
    method: get
    uri: https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - ee081bfa5bc75ec9ef5165da9689da5b
      X-Request-Context-Id:
      - 9ccec95f-3033-4844-af26-5e08652d6289
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=2271;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1c;o=quizzes/quizzes_api;n=show;t=Course;i=4091;x=5.0;p=f;e=1752300;f=2021-09-17T11:44:19.54Z;b=1480548;m=1480548;u=0.15;y=0.01;d=0.09;
      X-Request-Cost:
      - '0.2399387639948145'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - '09c83115d8ea4d853'
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"c405ef1c0ce6d160c1da21a511e9360a"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"id":21982,"title":"Test for Gem","html_url":"https://flatironlearn.beta.instructure.com/courses/4091/quizzes/21982","mobile_url":"https://flatironlearn.beta.instructure.com/courses/4091/quizzes/21982?force_user=1\u0026persist_headless=1","description":"\u003cp\u003eDescription!\u003c/p\u003e","quiz_type":"assignment","time_limit":null,"timer_autosubmit_disabled":false,"shuffle_answers":true,"show_correct_answers":true,"scoring_policy":"keep_highest","allowed_attempts":3,"one_question_at_a_time":false,"question_count":0,"points_possible":2.0,"cant_go_back":false,"access_code":null,"ip_filter":null,"due_at":null,"lock_at":null,"unlock_at":null,"published":false,"unpublishable":true,"locked_for_user":true,"lock_info":{"missing_permission":"participate_as_student","asset_string":"quizzes:quiz_21982"},"lock_explanation":"This
        quiz is currently locked.","hide_results":null,"show_correct_answers_at":null,"hide_correct_answers_at":null,"all_dates":[{"due_at":null,"unlock_at":null,"lock_at":null,"base":true}],"can_unpublish":true,"can_update":true,"require_lockdown_browser":false,"require_lockdown_browser_for_results":false,"require_lockdown_browser_monitor":false,"lockdown_browser_monitor_data":null,"speed_grader_url":null,"permissions":{"manage":true,"read":true,"create":true,"update":true,"submit":true,"preview":true,"delete":true,"read_statistics":true,"grade":true,"review_grades":true,"view_answer_audits":true},"quiz_reports_url":"https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982/reports","quiz_statistics_url":"https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982/statistics","message_students_url":"https://flatironlearn.beta.instructure.com/api/v1/courses/4091/quizzes/21982/submission_users/message","section_count":1,"important_dates":false,"quiz_submission_versions_html_url":"https://flatironlearn.beta.instructure.com/courses/4091/quizzes/21982/submission_versions","assignment_id":142760,"one_time_results":false,"only_visible_to_overrides":false,"assignment_group_id":8026,"show_correct_answers_last_attempt":false,"version_number":1,"has_access_code":false,"post_to_sis":false,"migration_id":null,"question_types":[]}'
  recorded_at: Fri, 17 Sep 2021 11:44:19 GMT
recorded_with: VCR 6.0.0
