---
http_interactions:
- request:
    method: get
    uri: https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15802~gh6vdVMNKu1rSpOoYtF3m1jDjQy9M33oRs0pveRDPqu6IecKCL9KuxTcLVR8ykPj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - '009c73eba77d8a26449f0670a85794ea'
      X-Request-Context-Id:
      - 0cc0e729-680f-4667-ba38-83f406b3898b
      X-Rate-Limit-Remaining:
      - '700.0'
      X-Canvas-Meta:
      - q=1114;at=158020000000003798;dk=170000000000016;a=1;g=cX7SWGutCzDOFQFyPyMy2HZcIvWIoL67bpNEz9lv;s=15802;c=cluster238;z=us-east-1b;o=quizzes/quizzes_api;n=show;t=Course;i=4091;x=5.0;p=f;e=1754896;f=2021-09-13T12:52:22.44Z;b=1837636;m=1837636;u=0.12;y=0.02;d=0.03;
      X-Request-Cost:
      - '0.14937363000035475'
      X-Canvas-User-Id:
      - '158020000000000641'
      X-Request-Processor:
      - 0fcfca47f6327831f
      X-A11y-Ally:
      - Dana Danger Grey
      Etag:
      - W/"eedd351c479d03736152f8e435d3ec96"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"id":21962,"title":"Active Record Associations Quiz","html_url":"https://learning.flatironschool.com/courses/4091/quizzes/21962","mobile_url":"https://learning.flatironschool.com/courses/4091/quizzes/21962?force_user=1\u0026persist_headless=1","description":"\u003cp\u003eIf
        you don''t know the answer to a question, please do not guess. Instead, select
        \"I don''t know\". It''s OK not to know everything and to admit when we''re
        unsure.\u003c/p\u003e\n\u003cp\u003eIf you get stuck, check out these pages
        from the Rails guides:\u003c/p\u003e\n\u003cul\u003e\n\u003cli\u003e\u003ca
        href=\"https://guides.rubyonrails.org/association_basics.html\"\u003eAssociation
        Basics\u003c/a\u003e\u003c/li\u003e\n\u003cli\u003e\u003ca href=\"https://guides.rubyonrails.org/routing.html#nested-resources\"\u003eRails
        Routing: Nested Resources\u003c/a\u003e\u003c/li\u003e\n\u003c/ul\u003e","quiz_type":"assignment","time_limit":null,"timer_autosubmit_disabled":false,"shuffle_answers":true,"show_correct_answers":true,"scoring_policy":"keep_highest","allowed_attempts":3,"one_question_at_a_time":true,"question_count":9,"points_possible":9.0,"cant_go_back":false,"access_code":null,"ip_filter":null,"due_at":null,"lock_at":null,"unlock_at":null,"published":false,"unpublishable":true,"locked_for_user":true,"lock_info":{"missing_permission":"participate_as_student","asset_string":"quizzes:quiz_21962"},"lock_explanation":"This
        quiz is currently locked.","hide_results":"until_after_last_attempt","show_correct_answers_at":null,"hide_correct_answers_at":null,"all_dates":[{"due_at":null,"unlock_at":null,"lock_at":null,"base":true}],"can_unpublish":true,"can_update":true,"require_lockdown_browser":false,"require_lockdown_browser_for_results":false,"require_lockdown_browser_monitor":false,"lockdown_browser_monitor_data":null,"speed_grader_url":null,"permissions":{"manage":true,"read":true,"update":true,"submit":true,"preview":true,"create":true,"delete":true,"read_statistics":true,"grade":true,"review_grades":true,"view_answer_audits":true},"quiz_reports_url":"https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962/reports","quiz_statistics_url":"https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962/statistics","message_students_url":"https://learning.flatironschool.com/api/v1/courses/4091/quizzes/21962/submission_users/message","section_count":1,"important_dates":false,"quiz_submission_versions_html_url":"https://learning.flatironschool.com/courses/4091/quizzes/21962/submission_versions","assignment_id":142727,"one_time_results":false,"only_visible_to_overrides":false,"assignment_group_id":8026,"show_correct_answers_last_attempt":true,"version_number":4,"has_access_code":false,"post_to_sis":false,"migration_id":null,"question_types":[]}'
  recorded_at: Mon, 13 Sep 2021 12:52:22 GMT
recorded_with: VCR 6.0.0
